body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  width: 330px;
}

.list-item {
  color: #025788;
  font-weight: 700;
  padding: 10px;
  background: #d3d3d3;
  margin: 8px;
  box-shadow: 2px 2px 5px grey;
  border-radius: 5px;
}

.list-item-delete {
  color: red;
  font-weight: 700;
  padding: 0 0 0 10px;
  cursor: pointer;
}

.button {
  margin: 2px;
  color: #fff;
  background-color: #3097d1;
  border-color: #2a88bd;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.6;
  border-radius: 4px;
}
